<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue@next"></script>
        <style>
            .bi-question-circle-fill{
                cursor:pointer;
            }
        </style>
    </head>

        
        <!-- CONTACT US MODAL -->
        <div id="myModal" class="modal">    
            <div class="modal-content" id = "contactUs"> 
              <span class="close" id = "closebutton" onclick="closemodal()" v-on:click = "resetForm">&times;</span>
              <div class="text-center mb-5">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                              <h1 class="fw-bolder">Get in touch</h1>
                              <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
              </br>
                                <div style = "width: 70%; margin: 0 auto;" >
  
                                  <input type="text" class="form-control" v-model="contactusName" placeholder="Name">
                                </br> 
                                  <input type="email" class="form-control" v-model="contactusEmail" placeholder="Enter Email" v-on:keyup = "checkEmail">
                                  <span style = "color: red; font-size: small;"> {{ Emailalert }} </span>
                              </br>
                                 <input type="text" class="form-control" v-model="contactusPhone" placeholder="Phone Number" v-on:keyup = "checkPhone"> 
                                 <span style = "color: red; font-size: small;"> {{ Phonealert }} </span>
                                </br>
                                <textarea class="form-control" v-model="contactusMsg" rows = "6" placeholder="Your Message"> Your Message </textarea>
                                <span style = "color: red; font-size: small;"> {{ submitAlert }} </span>
                              </br>
                              <button class="btn btn-primary btn-md" type="submit" v-on:click = "submitContactUs">Submit</button>
                              </div>
  
            </div>
            </div>
          
          </div>

    <body class="d-flex flex-column" onload = checkdata(this)>
        <main class="flex-shrink-0">
            <!-- Navigation bar-->
              <!-- Navigation-->
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <div class="container px-5">
                    <a class="navbar-brand" href="#" style = "font-weight: bold;"> M  T  O  R </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="../Homepage/homepage.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="../Tutor//tutorList.html">Tutors</a></li>
                            <li class="nav-item"><a class="nav-link example">Contact Us </a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="#" onclick = "goProfile()">My Profile</a></li>
                                    <li><a class="dropdown-item" href="#" onclick = "goSchedule()">My Schedule</a></li>
                                    <li><a class="dropdown-item" href="../Homepage/request.html">Requests</a></li>
                                    <li><a class="dropdown-item" href="#" onclick = "logout()">Logout</a></li>
                                </ul>
                            </li>

                            <li class="nav-item"><a class="nav-link" href="../Chat/chat.html">Chats </a></li>
                        
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">

                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">

                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-circle"></i></div>
                            <h1 class="fw-bolder">Tutor</h1>
                            <h1 class="fw-normal text-muted mb-4">Subject Information</h1>
                        </div>

                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6"> 
                                
                                <!-- FORM -->
                                <form id="contactForm" onsubmit = "register(); return false">
                        
                                    <!-- Rate/hour -->
                                    <div class="form mb-3">
                                        <label for="rate">Rate I am looking for:</label>
                                        <input class="form-control" id="rate" type="number" placeholder = "$rate/hour" min = "10" onchange = savedata(this) required>
                                    </div>
                                    
                                    <!-- Qualification -->
                                    <label for="qualifications">Qualifications:</label>
                                    <div id = "qualifications">
                                        <div class="input-group">
                                            <span class="input-group-text"> 
                                                <input type = "text" class = "form-control" placeholder = "Exam E.G. oLevels(L1R5)" name = "qualikey" onchange = getqualification() required>
                                            </span>
                                            <input type="text" name = "qualivalue" class="form-control" placeholder="Results" onchange = getqualification() required>
                                        </div>
                                        <div id = "addquali"></div>
                                        <div class = "text-center">
                                            <button class = "btn btn-outline-info btn-sm fw-bold fs-6" type = "button" onclick = "addmore()">+</button>
                                        </div>
                                    </div>

                                    <!-- Subjects-->
                                    <div class="form mb-3 mt-3">
                                        <label for="subjects">Subjects I can teach:</label>
                                        <input class="form-control" id="subjects" type="text" placeholder="EG Math, Science"  onchange = savedatalist(this) required>
                                        
                                        <div class="invalid-feedback"></div>
                                    </div>

                                    <!-- Teaching Level -->
                                    Highest Teaching Level:
                                    <div class = "mb-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" id = "Primary" type="radio" name="teachingLevel" value = "Primary"  onclick = savedatabtns(this)>
                                            <label class="form-check-label">Primary </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input " id = "Secondary" type="radio" name="teachingLevel" value = "Secondary"  onclick = savedatabtns(this)>
                                            <label class="form-check-label">Secondary</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input " id = "Tertiary" type="radio" name="teachingLevel" value = "Tertiary"  onclick = savedatabtns(this)>
                                            <label class="form-check-label">Tertiary</label>
                                        </div>
                                    </div>

                                    <!-- Google Calendar Link -->
                                    <div class="form mb-3">
                                        <label for="calendar">Google Calendar Link:</label>
                                        <input class="form-control" id="calendar" type="url" placeholder="Calendar Link" onchange = savedata(this) required>
                                        <span><i class="bi bi-question-circle-fill" onclick = "showprompt()"></i></span>
                                        <span id = "prompt" style = "visibility: hidden;">
                                            <br> 
                                            1. From <a href="https://calendar.google.com/calendar" target="_blank">Google Calendar</a>, create an appointment slot anywhere<br>
                                            2. Click on the appointment slot you created<br>
                                            3. Get the 'Go to appointment page for this calendar' link. <br>
                                            <i>For in-depth guide, <a href="https://howdoi.daemen.edu/knowledge-base/creating-appointment-slots-in-google-calendar/" target="_blank">click here</a></i>
                                        </span>
                                        
                                        
                                        
                                    </div>
                                    
                                    <!-- RESET BACK AND SUBMIT -->
                                    <div class ="d-grid d-md-block mt-3">
                                        <!-- <button type="reset" class="btn btn-outline-dark" onclick = reset2()>Reset Page Values</button> -->
                                        <a type = "button" class="btn btn-secondary" href="SignUp2.html">Previous Page</a>
                                        <button type = "submit" class="btn btn-primary">Save</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script> 
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-storage.js"></script>
        <script src="js/scripts.js"></script>
        <script src="../common/common.js"></script>
        <script>
            if(sessionStorage.getItem("userID") == null){
                window.location.replace("../Homepage/homepage_no_login.html");
            }
        </script>
        

    </body>
</html>

