<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> MTOR </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="../common/common.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>


    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .row {

            margin-bottom: 8px;

        }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#" style="font-weight: bold;"> M T O R </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span><i
                        class="fa fa-circle" id="chatNotif2"></i></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../Homepage/homepage.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Tutor/tutorList.html">Tutors</a></li>
                        <li class="nav-item"><a class="nav-link example">Contact Us </a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="#" onclick="goProfile()">My Profile</a></li>
                                <li id="navSchedule"><a class="dropdown-item" href="#" onclick="goSchedule()">My
                                        Schedule</a></li>
                                <li><a class="dropdown-item" href="../Homepage/request.html">Requests</a></li>
                                <li><a class="dropdown-item" href="#" onclick="logout()">Logout</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="../Chat/chat.html">Chats<i class="fa fa-circle"
                                    id="chatNotif"></i> </a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Welcome back, <span id="name"></span> </h1>
                            <p class="lead fw-normal  mb-4" style="color: rgb(80, 80, 80);"> A one-stop platform for you
                                to both find the best tutors and easily schedule lessons.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-outline-light btn-lg px-4" href="#" onclick="goSchedule()"
                                    id="mySchedule"> View Schedule</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="request.html">My Requests</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                            src="https://www.todayonline.com/sites/default/files/styles/new_app_article_detail/public/photos/43_images/istock-598809810.jpg?itok=-0q9qQKp"
                            alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">Features We Offer Just For You</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-collection"></i></div>
                                <h2 class="h5"> Filter and Sort </h2>
                                <p class="mb-0"> With our large pool of tutors available for you, we make the process of
                                    finding the perfect one fuss free and easy by letting you sort and compare tutors
                                    using different criterias.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-building"></i></div>
                                <h2 class="h5">Receive Requests Instead</h2>
                                <p class="mb-0">Rather have tutors applying instead of searching yourself? Our platform
                                    allows you to put up requests for tutors to apply and we will alert you when there
                                    are applications for you to browse through easily.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Scheduling Lessons Made Easier</h2>
                                <p class="mb-0">We understand the pain of back and forth texting to arrange a suitable
                                    time for lessons so we have an inbuild calender system for both you and the tutors
                                    to schedule lessons.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-toggles2"></i></div>
                                <h2 class="h5">What are you waiting for?</h2>
                                <p class="mb-0"> Click here to view our large pool of tutors!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tutors Preview-->
        <section class="py-5" id="tutorspreview" style="display: none;">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">
                            <h2 class="fw-bolder">Available Tutors Right Now</h2>
                            </br>
                            <a type="button" href="../Tutor/tutorList.html" class="btn btn-primary">View All Tutors </a>
                            </br>

                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="container px-5 my-5">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="card-group">
                                        <div class="card" id="card1">
                                            <img :src="profilepic" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title"> {{ name }} </h5>
                                                <p class="card-text">
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Gender: </span>{{ gender }}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Age: </span>{{ age }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Rate: </span> {{ rate}}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Location: </span> {{ location }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Subjects: </span> {{ subjects }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Description </span>
                                                        </br>
                                                        {{ desc }}
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card" id="card2" style="background-color: rgb(230, 230, 230);">
                                            <img :src="profilepic" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ name }}</h5>
                                                <p class="card-text">
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Gender: </span>{{ gender }}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Age: </span>{{ age }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Rate: </span> {{ rate}}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Location: </span> {{ location }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Subjects: </span> {{ subjects }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Description </span>
                                                        </br>
                                                        {{ desc }}
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card" id="card3">
                                            <img :src="profilepic" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ name }}</h5>
                                                <p class="card-text">
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Gender: </span>{{ gender }}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Age: </span>{{ age }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Rate: </span> {{ rate}}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Location: </span> {{ location }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Subjects: </span> {{ subjects }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Description </span>
                                                        </br>
                                                        {{ desc }}
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card-group">
                                        <div class="card" id="card4" style="background-color: rgb(230, 230, 230);">
                                            <img :src="profilepic" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ name }}</h5>
                                                <p class="card-text">
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Gender: </span>{{ gender }}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Age: </span>{{ age }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Rate: </span> {{ rate}}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Location: </span> {{ location }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Subjects: </span> {{ subjects }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Description </span>
                                                        </br>
                                                        {{ desc }}
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card" id="card5">
                                            <img :src="profilepic" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ name }}</h5>
                                                <p class="card-text">
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Gender: </span>{{ gender }}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Age: </span>{{ age }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Rate: </span> {{ rate}}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Location: </span> {{ location }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Subjects: </span> {{ subjects }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Description </span>
                                                        </br>
                                                        {{ desc }}
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card" id="card6" style="background-color: rgb(230, 230, 230);">
                                            <img :src="profilepic" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ name }}</h5>
                                                <p class="card-text">
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Gender: </span>{{ gender }}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Age: </span>{{ age }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Rate: </span> {{ rate}}
                                                    </div>
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Location: </span> {{ location }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Subjects Offered: </span> <span>
                                                            {{ subjects }} </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="font-weight: 500;">Description </span>
                                                        </br>
                                                        {{ desc }}
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>

        </section>
        <!-- Contact US  modal -->
        <div id="myModal" class="modal">
            <div class="modal-content" id="contactUs">
                <span class="close" id="closebutton" onclick="closemodal()" v-on:click = "resetForm">&times;</span>
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                    </div>
                    <h1 class="fw-bolder">Get in touch</h1>
                    <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
                    </br>
                    <div style="width: 70%; margin: 0 auto;">

                        <input type="text" class="form-control" v-model="contactusName" placeholder="Name">
                        </br>
                        <input type="email" class="form-control" v-model="contactusEmail" placeholder="Enter Email"
                            v-on:keyup="checkEmail">
                        <span style="color: red; font-size: small;"> {{ Emailalert }} </span>
                        </br>
                        <input type="text" class="form-control" v-model="contactusPhone" placeholder="Phone Number"
                            v-on:keyup="checkPhone">
                        <span style="color: red; font-size: small;"> {{ Phonealert }} </span>
                        </br>
                        <textarea class="form-control" v-model="contactusMsg" rows="6"
                            placeholder="Your Message"> Your Message </textarea>
                        <span style="color: red; font-size: small;"> {{ submitAlert }} </span>
                        </br>
                        <button class="btn btn-primary btn-md" type="submit"
                            v-on:click="submitContactUs">Submit</button>
                    </div>

                </div>
            </div>

        </div>
        <!-- Request Preview -->

    </main>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="scripts.js"></script>
    <script src="../common/common.js"></script>
</body>

<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<!-- This is the API from Firebase Realtime Database -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-storage.js"></script>

<script>
    // Your web app's Firebase configuration
    // You can find yours at Firebase : Project Overview : Project Settings
    const firebaseConfig = {
        apiKey: "AIzaSyBee5mbaSxk1JnnIHlkZxx4bwdtP0HY5g0",
        authDomain: "wad-mtor.firebaseapp.com",
        databaseURL: "https://wad-mtor-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "wad-mtor",
        storageBucket: "wad-mtor.appspot.com",
        messagingSenderId: "908590207014",
        appId: "1:908590207014:web:f1b1ab657d1a2bffe296e7"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    // -----------  
    window.sessionStorage;
    var currentUser = sessionStorage.getItem("userID");
    var userType = sessionStorage.getItem("userType");

    if (currentUser != null) {
        checkIfUser(currentUser);
    }
    else {
        window.location.href = "homepage_no_login.html";
    }


    function checkIfUser(userID) {
        userDB = firebase.database().ref("users");
        userDB.child(userID).get().then((snapshot) => {
            if (snapshot.exists()) {
                var myname = sessionStorage.getItem("name");
                document.getElementById("name").innerText = myname
                var userType = sessionStorage.getItem("userType")
                if (userType == "Tutee") {
                    document.getElementById("tutorspreview").style.display = "block";
                    document.getElementById("mySchedule").style.display = "none";
                    document.getElementById("navSchedule").style.display = "none";
                }
                else {
                    document.getElementById("tutorspreview").style.display = "none";
                }
            }
            else {
                if (window.confirm("Please complete your registration first")) {
                    window.location.href = "../Login/SignUp1.html";
                }
            }
        }
        )
    }


    FinalGetTutors();
    getChatNotif();

</script>

</html>